* {
	font-family: 'Quicksand', sans-serif;
}

.mostrar-al-lado {
	display: inline-block;
	vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}

/*Ubica al carrusel al inicio del documento*/
header {
    position:relative;
    top:-70px;
}

/*Ubica el navbar por encima del carrusel*/
.navbar {
    top:15px;
    z-index:10;
}

h1, h2, h5 {
	color: #32a1ad;
	font-weight: 700;
}

i {
	font-size: 30px;
	width: 100%;
	background-color: #32a1ad;
}

#boton {
	background-color: #32a1ad;
	color: #FFFFFF;
}

footer{
	background-color: #32a1ad;
	color: #FFFFFF;
	box-sizing: border-box;
}