* {
	font-family: 'Quicksand', sans-serif;
}

/*
html {
  scroll-behavior: smooth;
}
*/


.carousel {
    position:absolute;
    top:0;
    width: 100%;
    z-index: auto;
}

.navbar {
    position:absolute;
    top:15px;
    z-index:10;
    width: 100%;
}

#relleno {
	height: 940px;
}

h1 {
	color: #94d2bd;
}

i {
	font-size: 30px;
	width: 100%;
	background-color: #94d2bd;
}